.idea/misc.xml
.idea/musicController.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
servoDaemon/cmake-build-debug/CMakeFiles/clion-log.txt
servoDaemon/.idea/misc.xml
servoDaemon/.idea/modules.xml
servoDaemon/CMakeLists.txt
servoDaemon/.idea/servoDaemon.iml
servoDaemon/.idea/dictionaries/Andy_Clark.xml
servoDaemon/.idea/workspace.xml